.projects-container {
  font-family: Arial, sans-serif;
  padding: 1rem;
  width: 50%;
  margin: auto;
  margin-top: 5vh;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-header h1 {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background: #ffffff15;
  border-radius: 8px;
  margin-top: 5rem;
}

.projects-list ul {
  list-style: none;
  padding: 0;
}

.projects-list li {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.projects-list li:hover {
  background: #f0f0f0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.project-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: white;
  transition: transform 0.2s ease; /* Ajoute une animation au survol */
}

.project-card:hover {
  transform: scale(1.02); /* Agrandit légèrement la carte au survol */
}

.project-card-image {
  height: 150px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.project-card-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-count {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}

.favorite-button {
  background: none;
  border: none;
  color: yellow;
  font-size: 1.2rem;
  cursor: pointer;
}

.project-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0rem 0rem 0rem 1rem;
  width: 100%;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

.project-card-footer {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-members {
  display: flex;
  gap: 0.2rem !important;
  color: black;
}

.member-initial{
  width: 25px !important;
  height: 25px !important;
  line-height: 20px !important;
  background: #007bff;
  color: black;
  font-size: 10px !important;
  font-weight: bold;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.member-initial:hover .member-info {
  display: block; /* Affiche les infos au survol */
}

.more-options {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 10; /* Assure que le bouton est au-dessus des autres éléments */
}

.dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 8px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  position: fixed !important;
  z-index: 99999;
}

.dropdown-menu button {
  width: 100%;
  padding: 6px 12px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

/* s’assure que le bouton “...” reste cliquable au-dessus */
.more-options {
  position: relative;
  z-index: 1000;
}


